<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @blogger.name %>
</p>

<p>
  <b>Feed:</b>
  <%= @blogger.feed %>
</p>


<%= link_to 'Edit', edit_blogger_path(@blogger) %> |
<%= link_to 'Back', bloggers_path %>
